.card {
    width: 350px;
    height: 300px;
    margin: 30px;
}

.button{
    margin: 5px;
   
}

.container-layout {
    width: 750px;
    display: flex;
    flex-direction: row;
}

.main-title {
    display: flex;
    justify-content: center;
}